* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}

.heading-main {
  height: 192px;
  width: 327px;
}

.p-two {
  height: 164px;
  width: 327px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.main-section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 24px;
  background: url("header-illsutration-mobile.svg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.links {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.links li {
  padding: 10px;
}

.p-one {
  color: #172b4d;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.heading-main h2 {
  color: #36b37e;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.links li a {
  color: #505f79;
}
