* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Inter, Helvetica, sans-serif;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menu-style {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* display: none; */
  background-color: #fff;

}

.mobile-a{
  color: #000;
}

.menu-style i {
  color: #000;
  display: flex;
  justify-content: flex-end;
  padding-top: 62px;
  padding-right: 38px;
}

.menu-style .menu-list {
  margin-top: 40px;
  padding-left: 28px;
}

.menu-style a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 64px;
}

.heading nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-bar-list {
  display: none;
}

.heading-main {
  height: 192px;
  width: 327px;
}

.heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.p-two {
  font-family: Inter, sans-serif;
  width: 327px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin-top: 14px;
}

.main-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 24px;
  background: url("header-illsutration-mobile.svg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.links {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 0;
  margin: 0;
}

.links li {
  padding: 10px;
}

.p-one {
  color: #172b4d;
  font-style: normal;
  font-weight: bold;
  font-family: Inter, sans-serif;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.heading-main h2 {
  color: #36b37e;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.links li a {
  color: #505f79;
}

.section-two {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: inherit;
}

.section-title {
  width: 327px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.section-title h3 {
  margin-bottom: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  width: auto;
}

.card {
  width: 327px;
  height: 474px;
  background: #ebf0ee;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.card-content {
  width: 327px;
  height: 222px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #ffff;
  border-radius: 8px;
}

.card-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.card-buttons button {
  padding: 6px 10px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  border: none;
  background: #ebf0ee;
  border-radius: 4px;
}

.green-button {
  background: #36b37f;
  border-radius: 4px;
  padding: 12px;
  border: none;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #ffff;
  margin-top: 15px;
}

.green-button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.green-button:focus {
  background-color: #008552;
}

.card-heading {
  font-style: normal;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  padding: 0;
}

.about-title {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin: 24px 0;
  color: #172b4d;
}

.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.margin-btn {
  margin: 30px 0;
}

.about {
  background-image: url(img/illustration2.svg), url(img/illustration.svg);
  background-position: top right, bottom left;
  background-repeat: no-repeat, no-repeat;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.about-image {
  position: absolute;
  top: -10px;
  right: 0;
}

.card2 {
  height: 352px;
  width: 327px;
  border-radius: 8px;
  background: #ebf0ee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #d0d9d4;
}

.background-btn button {
  background-color: #ffff;
  color: #36b37e;
  margin: 5px;
}

.heading-color {
  color: #344563;
}

.languages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.background-btn {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.footing {
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 375px;
  background: url("img/illustration-contact-form\ \(4\).svg");
  background-repeat: no-repeat;
  padding-top: 40px;
  background-position: right 77%;
}

.footing h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  color: #172b4d;
  margin: 62px 24px 12px 24px;
  font-family: Inter, sans-serif;
}

.user-info {
  height: 48px;
  width: 327px;
  padding: 15px 16px;
  margin-top: 12px;
  margin-bottom: 12px;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  color: #6b778c;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

textarea {
  color: #091e42;
  border: 1px solid #60c095;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.form-container {
  margin: 20px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-align {
  align-self: center;
}

.user-comments {
  height: 114px;
  width: 327px;
  padding: 12px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  font-family: Inter, sans-serif;
  resize: none;
}

.form-button {
  height: 48px;
  width: 129px;
  border-radius: 4px;
  padding: 12px;
  background: #36b37f;
  margin-bottom: 52px;
}

.links-margin {
  margin-top: 47.04px;
}

.form-paragraph {
  height: 189px;
  width: 300px;
  font-size: 20px;
  font-style: normal;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 13px auto;
}

@media screen and (min-width: 992px) {
  .heading nav i {
    display: none;
  }

  .logo {
    display: none;
  }

  .nav-bar-list {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav-bar-list li {
    margin-top: 5px;
    padding: 0 16px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: rgba(52, 69, 99, 1);
  }

  .nav-bar-list li a {
    text-decoration: none;
  }

  .main-section {
    background-image: url("img/Header-llustration-desktop@2x.png");
  }

  .heading-main {
    height: 114px;
    width: 920px;
  }

  .p-two {
    width: 920px;
  }

  .index-img {
    display: none;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .about {
    background-image: url(img/illustration-about\ me-1-desktop-about-left.svg), url(img/illustration-about\ me-1-desktop-about-right.png);
    background-position: center left, top right;
    width: 100%;
    background-size: 8%;
    margin-top: 120px;
  }

  .footing h2 {
    display: block;
    width: 40%;
  }

  .footer-right-container {
    width: 60%;
    text-align: right;
  }

  .section-title {
    height: 48px;
    width: 447px;
    margin-top: 150px;
  }

  .hide-first-icon {
    display: none;
  }

  .heading-main h2 {
    font-family: Inter, sans-serif;
    color: #36b37e;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
  }

  .footing {
    width: 100%;
    background-image: url("img/footing-bg-1-desktop.svg"), url("img/footing-bg-2-desktop.svg"), url("img/footing-bg-3-desktop.svg");
    background-position: left bottom, 13rem bottom, right bottom;
    background-size: 9%;
    padding-bottom: 40px;
    position: relative;
  }

  .footer-main-container {
    display: flex;
    flex-direction: row;
    width: 1161px;
    margin: 0 auto;
  }

  .form-paragraph {
    display: none;
  }

  .form-container {
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .user-info {
    width: 90%;
  }

  .user-comments {
    width: 90%;
  }

  .form-button {
    display: block;
    text-align: left;
  }

  .links {
    margin-top: 20px;
  }

  .links-margin {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .links-margin a i {
    font-size: 23px;
  }

  .left-align {
    align-self: flex-start;
  }

  .about-title:hover {
    animation-name: rotate;
    animation-duration: 3s;
  }

  .section-title h3 {
    animation-name: moveInRight;
    animation-duration: 3s;
  }

  .p-one {
    animation: fade-inout 3s infinite alternate;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes moveInRight {
    0% {
      opacity: 0%;
      transform: translateX(-100px);
    }

    100% {
      opacity: 100%;
      transform: translateX(0);
    }
  }

  @keyframes fade-inout {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}
